
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Poppins:ital,wght@0,400;1,100&display=swap');


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body{
   background-image: url('./image/red.jpg');
   background-size:cover;
   background-repeat: none;
   min-height: 100vh;
   background-position: center;
}

.navbar-brand{
     
    font-weight: 900;
    text-shadow: 2px 2px 4px #000000;
    
}

h1{
    color: rgb(255, 255, 255) !important;
    padding: 80px;
   
    
    font-size: 500px;
    text-align: center;
    font-weight:900;
    font-style:bold;
    text-shadow: 2px 2px 4px #000000;


}
h2{
    color: rgb(255, 255, 255) !important;
    
    font-size: 500px;
    text-align: center;
    font-weight:900;
    font-style:bold;
    text-shadow: 2px 2px 4px #000000;

}
p{
   color: white;
    padding-top: 60px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 0px;
    text-align: justify;
    font-size: 30px;
    text-shadow: 2px 2px 4px #000000;
    
}

ul{
    color: rgb(231, 231, 231);
    background-color: rgb(65, 62, 62);
    
}
